/* rgb(242, 246, 247) */
:root{
    --home_bg:rgb(242, 246, 247);
}

   .Wrapper_Home{
    background-color:var(--home_bg);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
  }
  .textSide{
    justify-content: center;
    display: flex;

  }
  .textFonts{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
    z-index: 1;

  }
  .imgSide{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .img{
    width: 100%;
    height: auto;
    z-index: inherit;
  }