.sideBar {
    height: 100vh;
    display: block;
   
}

.rightBar {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;

}
.rightBar::-webkit-scrollbar{
    width: 1px;
    display: none;
}